body{
    
    
    text-align:center;
    

}
#section4{
    
 background: linear-gradient(#1aed28 0%, #000000 100%)  
}
#section2{
background: linear-gradient(#4213eb 0%, #00ff33 100%
    
    
    
    
}

#image7{
 width:200px; 
     border-radius:80%
    
    
}